body {
    margin: 0;
    height: 100vh;
    background-color:#1F2937;
    background-position: center;
    text-align: center;
}
#box {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#purple {
    margin: 0;
    background-color: #6943FF;
    color:#FFFFFF;
    width: 550px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
#title {
    font-size: 28px;
    font-weight: 800;
    padding-top: 33px;
}
#input {
    margin-bottom: 26.77px;
    font-size: 58px;
    font-weight: 800;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 115px;
    height: 82px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24.39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6943FF;
    color: #FFFFFF
}
#white {
    margin: 0;
    color:#5A537B;
    padding: 36px 0;
    width: 550px;
    left: 76px;
    top: 126px;
    border-radius: 0px;
    background-color:#F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 23.43px;
}
button {
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 9px 27.5px;
    margin-bottom: 34px;
}
.measure {
    background-color: #FFFFFF;
    height: 108.57px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.math {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}